* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', sans-serif;
  font-size: 14px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  max-height: 100vh;
  overflow: hidden;
  background-image: url("/images/head_bg.png");
  background-repeat: repeat-x;
}

body>div {
/*  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
*/}

a {
  text-decoration: none;
  color: #800080;
}

main {
  /*height: 100%;*/
}

.d-flex {
  display: flex;
  align-items: top;
}

.logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  height: 42px;
}

.logo img {
  margin: 8px 0 0 0;
}

.fren-nav {
  padding: 40px 30px 80px;
  background-image: url("/images/head_moon.png");
  background-repeat: no-repeat;
  background-position: 10% 0px;
}

.btn {
  color: #fff;
  border-radius: 10px;
  padding: 0 15px;
  height: 42px;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.btn:hover {
  background-color: #800080;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.container {
  /*display: flex;*/
  justify-content: center;
  text-align: center;
  padding: 0 30px;
  /*width: 100%;*/
  height: 100%;
}

.grid {
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.room,
.menu {
  text-align: left;
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.room {
  /*display: flex;*/
  position: relative;
  width: 66%;
  top: -50%;
  /*background-color: #373;*/
}

.roomLayer {
  /*display: flex;*/
  position: absolute;
  left: 0px;
  top: 0px;
  /*bottom: 0px;*/
}

.room .roomLayer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  width: 34%;
  /*background-color: #337;*/
  /*vertical-align: top;*/
  padding: 0 0 0 20px;
}

.menuBorder {
  border: 1px solid #444;
  border-radius: 10px;
  padding: 5px;
  height: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

}

/*.menu .btn {
  color: #777;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 5px;
  list-style: none;
  width: calc(100% - 10px);
  height: calc(30px);
  text-align: center;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
  line-height: 30px;
}

.menu .btn:hover {
  color: #fff;
  background-color: #800080;
  border-color: #fff;
  margin: 5px 0px;
  width: calc(100%);
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}*/

.menu .btn {
  color: #777;
  background-color: #222;
  border: 1px solid #444;
  border-radius: 5px;
  list-style: none;
  height: calc(30px);
  text-align: center;
  margin: 5px;
  cursor: pointer;
  overflow: hidden;
  font-size: 12px;
  line-height: 36px;
}

.menu .btn:hover {
  color: #fff;
  background-color: #800080;
  border-color: #fff;
  /*margin: 5px 0px;*/
  /*width: calc(100%);*/
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.menu .menuUp {
  line-height: 25px;
}

.menu .menuUp img {
  opacity: 0.45;
}

.menu .menuUp:hover {

}

.menu .menuUp:hover img {
  opacity: 1;
}

.menu .menuUp.disabled,
.menu .menuUp.disabled:hover {
  color: #777;
  background-color: #111;
  border-color: #222;
  cursor: default;
}

.menu .menuUp.disabled img,
.menu .menuUp.disabled:hover img {
  opacity: .1;
}

.menu .menuTitle,
.menu .menuTitle:hover {
  text-align: center;
  color: #777;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: default;
}

.menu .btn.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 10px);
  height: 60px;
  line-height: 22px;
}

.menu .btn.menuItem:hover {

}

.itemList {
  display: flex;
  /*flex-direction: row;*/
  flex-wrap: wrap;
  max-height: 600px;
}

.itemList li {
  width: calc(100% / 3);
}

/* media query for mobile devices */
@media only screen and (max-width: 600px) {
  .fren-nav {
    padding: 20px;
  }

}